.neon-text {
    color: #08f;
    text-shadow: 0 0 2px #0f0, 0 0 4px #0f0;
  }
  .neon-blue-text {
    color: #08f;
    text-shadow: 0 0 2px #08f, 0 0 4px #08f;
  }
  
  .neon-pink-text {
    color: #f0f;
    text-shadow: 0 0 2px #f0f, 0 0 4px #f0f;
  }
  .container {
    background-color: #111 !important;
    padding-top: 1rem !important;
    max-height: 100vh;
  }
  .alert{
    background-color: #111 !important;
  }
  .alert {
    text-align: center;
    font-size: 1.5em;
  }