.neon-button {
  color: #fff;
  border-color: #08f;
  background-color: #111;
  text-shadow: 0 0 5px #08f, 0 0 10px #08f, 0 0 15px #08f, 0 0 20px #08f;
  box-shadow: 0 0 5px #08f, 0 0 10px #08f, 0 0 15px #08f, 0 0 20px #08f;
}
.neon-button:hover {
  background-color: #08f;
  color: #111;
  text-shadow: none;
  box-shadow: none;
}

.huge-button {
  padding: 20px 40px;
  font-size: 20px;
}
.neon-text {
  color: #0f0;
  text-shadow: 0 0 3px #0f0, 0 0 6px #0f0;
}